<!-- author: Zero Yu -->
<div class="normalheader transition animated fadeIn small-header">
	<div class="hpanel">
		<div class="panel-body">
			<h2 class="font-light m-b-xs">
				<i class="fa"></i> 人事子范围-DMS第三级大类
			</h2>
		</div>
	</div>
</div>
<div class="content">
	<div class="text-right marginBottm10">
		<input type="button" class="btn btn-primary" ng-click="openDialog()" value="新建" />
		<input type="button" class="btn btn-danger" ng-click="remove()" value="删除"/>
	</div>
	<table id="orderList"
		class="footable table table-stripped toggle-arrow-tiny table-bordered dataTable jnc-table"
		data-page-size="20" data-filter=#filter>
		<thead>
			<tr>
				<th>选择</th>
				<th>人事子范围编号</th>
				<th>人事子范围名称</th>
				<th>DMS第三级大类名称</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in model.content track by $index">
				<td><input type="checkbox" ng-model="item.selected" /></td>
				<td ng-bind="item.salesCategoryId"></td>
				<td ng-bind="item.salesCategoryName"></td>
				<td ng-bind="item.dmsName"></td>
			</tr>
			<tr>
				<td td colspan="4" ng-if="model.content.length===0">没有相关记录</td>
			</tr>
		</tbody>
		</table>
		<div ng-show="model.numberOfElements" class="paginationBar">
			<div style="float: left">
			<label>显示</label> 
			<select ng-model="request.paging.size"
			  ng-change="page()">
				<option label="5" value="5">5</option>
				<option label="10" value="10">10</option>
				<option label="20" value="20">20</option>
				<option label="50" value="50">50</option>
				<option label="100" value="100">100</option>	
			</select> 
			<label>条/页</label>
        </div>
		<div style="float:right;">
			<button ng-disabled="model.first"
				ng-click="page(0)">首页</button>
			<button ng-disabled="model.first"
				ng-click="page(model.number - 1)">上一页</button>
			<label>{{model.number+1}}/{{model.totalPages}}</label>
			<button ng-disabled="model.last"
				ng-click="page(model.number + 1)">下一页</button>
			<button ng-disabled="model.last"
				ng-click="page(model.totalPages - 1)">末页</button>
			<input type="number" class="page-number-input input-small input-align-center" ng-model="pagenum"
				ng-keypress="pageNoKeyDown($event)" />
			<button ng-click="switchPage()">转到</button>
		</div>
	
	<!--Start Dialog div-->
	<div class="col-lg-2">
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
			aria-labelledby="addModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">添加</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="recipient-name" class="col-sm-4 control-label">人事子范围编号:</label>
								<div class="col-sm-6">
									<select class="form-control"
										ng-model="addRequest.salesExternalId"
										ng-options="item.externalId as item.externalId for item in prodectSales.content"><option
											value="" style="display: none;">请选择人事子范围编号</option></select>
								</div>
							</div>
							<div class="form-group">
								<label for="message-text" class="col-sm-4 control-label">人事子范围名称:</label>
								<div class="col-sm-6">
									<select class="form-control"
										ng-model="addRequest.salesExternalId"
										ng-options="item.externalId as item.name for item in prodectSales.content"><option
											value="" style="display: none;">请选择人事子范围名称</option></select>
								</div>
							</div>
							<div class="form-group">
								<label for="message-text" class="col-sm-4 control-label">DMS第三级大类名称:</label>
								<div class="col-sm-6">
									<select class="form-control" ng-model="addRequest.dmsId"
										ng-options="item.id as item.name for item in dmsl3.content"><option
											value="" style="display: none;">请选择DMS第三级大类名称</option></select>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary"
							ng-click="saveData()">保存</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--End Dialog div-->
</div>
</div>