<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <h2 class="font-light m-b-xs">
                <i class="fa fa-qrcode"></i> 平台扫码出库
            </h2>
        </div>
    </div>
</div>

<div class="content" ng-controller="jnc-admin.dealers.dealerSMPTOut.controller">
    <div class="row projects">
        <div class="col-lg-12">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <div class="form-horizontal">
                    	<div class="form-group">
                    		<label class="control-label control-label-left col-lg-1">选择组长：</label>
                    		<div class="col-lg-3">
                    			<select class="form-control col-lg-3" 
                    				id="leader" ng-model="leader" ng-options="x.id as x.name for x in leaders">
                    			</select>
                    		</div>
                    	</div>
                        <div class="form-group">
                        	<div class="col-lg-12">
                        		<textarea id="caseList" class="form-control" rows="10"></textarea>
                        	</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group col-lg-12">
                        	<button class="btn btn-primary" ng-click="onSave()">出库</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>